landing-page/n8n-speed-to-lead-workflow-fixed.json
{
  "name": "Speed-to-Lead: Contact Form Enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form-speed-to-lead",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "generate-new-id"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you! We'll be in touch shortly.\" }"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thanks for reaching out, {{ $json.name.split(' ')[0] }}",
        "emailType": "text",
        "message": "=Hi {{ $json.name.split(' ')[0] }},\n\nThanks for reaching out about SalesAI.Coach. I received your message and I'm looking forward to learning more about your team's sales execution challenges.\n\nI'll send you a personalized response within the next few minutes with some thoughts specific to your situation.\n\nIn the meantime, feel free to browse our Execution Exploration booking calendar if you'd like to schedule a focused conversation: https://tidycal.com/aiautomations/execution-exploration\n\nTalk soon,\nJohn Cunningham\nAI Advantage Solutions\njohn@aiadvantagesolutions.ca\n(905) 519-8983"
      },
      "id": "send-auto-reply",
      "name": "Send Instant Auto-Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [690, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.linkedin }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-linkedin-provided",
      "name": "Check if LinkedIn Provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "run",
        "taskId": "apify/linkedin-profile-scraper",
        "waitForFinish": true,
        "input": "={{ { \"startUrls\": [{ \"url\": $json.linkedin }], \"maxResults\": 1 } }}"
      },
      "id": "scrape-linkedin",
      "name": "Scrape LinkedIn Profile",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [1130, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { linkedin_data: 'No LinkedIn profile provided' } }];"
      },
      "id": "no-linkedin-fallback",
      "name": "No LinkedIn Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.website }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-website-provided",
      "name": "Check if Website Provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 550]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "run",
        "taskId": "apify/website-content-crawler",
        "waitForFinish": true,
        "input": "={{ { \"startUrls\": [{ \"url\": $json.website }], \"maxCrawlDepth\": 2, \"maxPages\": 5 } }}"
      },
      "id": "scrape-website",
      "name": "Scrape Company Website",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [1130, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { website_data: 'No website provided' } }];"
      },
      "id": "no-website-fallback",
      "name": "No Website Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "merge-all-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "wait-3-minutes",
      "name": "Wait 3 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1570, 400],
      "webhookId": "generate-wait-id"
    }
  ],
  "connections": {
    "Webhook - Contact Form": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send Instant Auto-Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if LinkedIn Provided",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Website Provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if LinkedIn Provided": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No LinkedIn Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No LinkedIn Fallback": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Website Provided": {
      "main": [
        [
          {
            "node": "Scrape Company Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Website Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Website": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Website Fallback": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Wait 3 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
