landing-page/n8n-speed-to-lead-workflow.json
{
  "name": "Speed-to-Lead: Contact Form Enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form-speed-to-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "generate-new-id"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you! We'll be in touch shortly.\" }",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thanks for reaching out, {{ $json.name.split(' ')[0] }}",
        "emailType": "text",
        "message": "=Hi {{ $json.name.split(' ')[0] }},\n\nThanks for reaching out about SalesAI.Coach. I received your message and I'm looking forward to learning more about your team's sales execution challenges.\n\nI'll send you a personalized response within the next few minutes with some thoughts specific to your situation.\n\nIn the meantime, feel free to browse our Execution Exploration booking calendar if you'd like to schedule a focused conversation: https://tidycal.com/aiautomations/execution-exploration\n\nTalk soon,\nJohn Cunningham\nAI Advantage Solutions\njohn@aiadvantagesolutions.ca\n(905) 519-8983",
        "options": {
          "allowUnauthorizedCerts": false,
          "appendAttribution": false
        }
      },
      "id": "send-auto-reply",
      "name": "Send Instant Auto-Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [690, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.linkedin }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-linkedin-provided",
      "name": "Check if LinkedIn Provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "run",
        "taskId": "apify/linkedin-profile-scraper",
        "waitForFinish": true,
        "input": "={{ { \"startUrls\": [{ \"url\": $json.linkedin }], \"maxResults\": 1 } }}",
        "options": {}
      },
      "id": "scrape-linkedin",
      "name": "Scrape LinkedIn Profile",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [1130, 200],
      "credentials": {
        "apifyApi": {
          "id": "your-apify-credential-id",
          "name": "Apify API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { linkedin_data: 'No LinkedIn profile provided' } }];"
      },
      "id": "no-linkedin-fallback",
      "name": "No LinkedIn Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.website }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-website-provided",
      "name": "Check if Website Provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 550]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "run",
        "taskId": "apify/website-content-crawler",
        "waitForFinish": true,
        "input": "={{ { \"startUrls\": [{ \"url\": $json.website }], \"maxCrawlDepth\": 2, \"maxPages\": 5, \"excludePatterns\": [\"/blog/*\", \"/careers/*\"] } }}",
        "options": {}
      },
      "id": "scrape-website",
      "name": "Scrape Company Website",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [1130, 550],
      "credentials": {
        "apifyApi": {
          "id": "your-apify-credential-id",
          "name": "Apify API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { website_data: 'No website provided' } }];"
      },
      "id": "no-website-fallback",
      "name": "No Website Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-all-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are a sales intelligence analyst. Analyze the provided lead data and identify: 1) Industry/sector, 2) Company size estimate, 3) Top 3 pain points this industry typically faces with sales execution, 4) Potential sales methodology they might use, 5) Key talking points for outreach. Output as JSON only."
            },
            {
              "role": "user",
              "content": "=Analyze this lead:\n\nNAME: {{ $json.name }}\nCOMPANY: {{ $json.company }}\nMESSAGE: {{ $json.message }}\n\nLINKEDIN DATA:\n{{ $json.linkedin_data ? JSON.stringify($json.linkedin_data, null, 2) : \"Not provided\" }}\n\nWEBSITE DATA:\n{{ $json.website_data ? JSON.stringify($json.website_data, null, 2) : \"Not provided\" }}\n\nReturn analysis as JSON with this structure:\n{\n  \"industry\": \"Software/SaaS\",\n  \"company_size\": \"50-200 employees\",\n  \"pain_points\": [\n    \"Inconsistent methodology execution across reps\",\n    \"Lack of visibility into sales behavior\",\n    \"Difficulty coaching at scale\"\n  ],\n  \"likely_methodology\": \"MEDDIC or Sandler\",\n  \"talking_points\": [\n    \"They likely struggle with reps cutting corners on qualification\",\n    \"Manager visibility into execution is probably low\",\n    \"Scaling coaching without 1:1 shadowing is a challenge\"\n  ],\n  \"personalization_notes\": \"Brief context for personalization\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "jsonOutput": true
      },
      "id": "analyze-lead-gpt",
      "name": "ChatGPT: Analyze & Identify Pain Points",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1570, 400],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "wait-3-minutes",
      "name": "Wait 3 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1790, 400],
      "webhookId": "generate-wait-id"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are John Cunningham, founder of SalesAI.Coach - a behavioral accountability system for sales teams.\n\nWrite a personalized email response to a lead who filled out a contact form.\n\nTONE: Warm, authentic, consultative (not salesy). Show you understand their industry pain points. Position yourself as a peer/advisor, not a vendor.\n\nSTRUCTURE:\n1. Acknowledge their inquiry\n2. Show you understand their industry challenges (2-3 sentences)\n3. Brief positioning of SalesAI.Coach as the solution (1-2 sentences)\n4. Suggest next step: Execution Exploration call (not a \"demo\")\n5. Provide TidyCal link\n\nLENGTH: 150-200 words max\n\nDO NOT use buzzwords, oversell, or make assumptions. Output email body only (no subject line)."
            },
            {
              "role": "user",
              "content": "=Write a personalized email to this lead:\n\nLEAD INFO:\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\nMessage: {{ $json.message }}\n\nANALYSIS:\nIndustry: {{ $json.analysis.industry }}\nPain Points: {{ $json.analysis.pain_points.join(', ') }}\nTalking Points: {{ $json.analysis.talking_points.join(', ') }}\nPersonalization Notes: {{ $json.analysis.personalization_notes }}\n\nGenerate the email body only."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 400
        }
      },
      "id": "generate-email-gpt",
      "name": "ChatGPT: Generate Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [2010, 400],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Re: Your inquiry about sales execution at {{ $json.company }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {
          "ccList": "john@aiadvantagesolutions.ca",
          "allowUnauthorizedCerts": false,
          "appendAttribution": false
        }
      },
      "id": "send-personalized-email",
      "name": "Send Personalized Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2230, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "john@aiadvantagesolutions.ca",
        "subject": "=🎯 New Lead: {{ $json.name }} from {{ $json.company }}",
        "emailType": "text",
        "message": "=New Lead Contacted:\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\n\nIndustry: {{ $json.analysis.industry }}\nTop Pain Point: {{ $json.analysis.pain_points[0] }}\n\nPersonalized email sent successfully.\n\nOriginal Message:\n{{ $json.message }}",
        "options": {}
      },
      "id": "notify-admin",
      "name": "Notify You of New Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2450, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail Account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Contact Form": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send Instant Auto-Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if LinkedIn Provided",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Website Provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if LinkedIn Provided": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No LinkedIn Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No LinkedIn Fallback": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Website Provided": {
      "main": [
        [
          {
            "node": "Scrape Company Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Website Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Website": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Website Fallback": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "ChatGPT: Analyze & Identify Pain Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT: Analyze & Identify Pain Points": {
      "main": [
        [
          {
            "node": "Wait 3 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Minutes": {
      "main": [
        [
          {
            "node": "ChatGPT: Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT: Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Send Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Personalized Email": {
      "main": [
        [
          {
            "node": "Notify You of New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-19T00:00:00.000Z",
  "versionId": "1"
}
